body {
    background: url(https://source.unsplash.com/D8CmqdWrFL4) bottom center;
    background-size: cover;
    color: white;
}

.btn {
    color: white;
}

.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#navbarNav {
    border-width: 3px;
    border-color: white;
}

.navbar {
    background-color: black;
    border-width: 3px;
    border-color: blanchedalmond;
}

#time {
    font-size: 3rem;
}